* {
    border-style: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

body {
    background-color:#EEEDE7;
    justify-content: space-between;

}
button {
    width: 125px;
    height: 125px;
    background-color: #E7D2CC;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height:200px;
    font-family: 'Roboto', sans-serif;
    background-color:
}

.img-rock  {
    width: 125px;
    height: 125px;
}

.img-paper, .img-scissors {
    width: 90px;
    height: 90px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.button-heading{
    display:flex;
    justify-content: center;
    align-content: center;
}

.button-heading, .buttons{
    margin-bottom: 30px;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:66px;
    margin-bottom: 50px;
    background-color: #D8D6FF;
    height: 50px;
}

.player-score , .computer-score {
    font-size: 30px;
    font-weight: lighter;
}

